<!DOCTYPE html>
<html lang="en" style="overflow: hidden">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

    <div>
        <span><a href="Main_Page">Sign Out</a>      <p class="cityGradient">Hello Admin</p>
 </span>
    </div>

</head>

<body>

<div id="parent_div" >
    <div class= "background"><img src="/images/doctor.jpg"></div>







    <ul>

    <li class="li active"><a href="/admin"><i class="fa fa-user-md" aria-hidden="true"></i>Your Profile/Edit</a></li>

    <li class="li active"><a href="/doctor"><i class="fa fa-user-md" aria-hidden="true"></i>Add New Doctor Information</a></li>
    <li id="grey" class="li active">
        <a href="/specialityDoctor"><i class="fa fa-user-md" aria-hidden="true"></i>Add Speciality Information</a>
    </li>
    <li class="li active"><a href="/Main_Page"><i class="fa fa-user-md" aria-hidden="true"></i>Find Doctors</a> </li>
        <li class="li active"><a href="/DeleteDoctorView"><i class="fa fa-user-md" aria-hidden="true"></i>Delete Doctor </a> </li>

    </ul>




</div>


<div class="table-responsive responsive">

    <form method="post" action="/saveSpeciality">
        <h1>ADD NEW SPECIALITY INFORMATION HERE:</h1>
        <table class="table table-condensed ">

            <tr>
                <th>Speciality ID:</th>
                <td><input type="text" name="snumber" required
                           placeholder="Enter speciality id" maxlength="30"></td>
            </tr>
            <tr>
                <th>Speciality Name:</th>
                <td><input type="text" name="sname" required
                           placeholder="Enter speciality name" maxlength="100"></td>
            </tr>

            <tfooter>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save"
                               class="btn btn-success">
                        <input type="button" value="Cancel"
                               class="btn btn-danger" onclick="cancelAdd()">
                    </td>
                </tr>
            </tfooter>
        </table>
    </form>
</div>

</body>