<!DOCTYPE html>
<html lang="en" style="overflow: hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!--<title class="cityGradient">{{#each data}} {{this.patient_first_name}} --}}
    {{!--{{/each}} Profile</title>--}}

</head>
<div>
    <h1>Your Appointment is booked!</h1>
    <h1>Please <a href="/">login</a>  to view your appoitnments!</h1>
</div>

</html>