<!DOCTYPE html>
<html lang="en" style="overflow: hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!--<title class="cityGradient">{{#each data}} {{this.patient_first_name}} --}}
    {{!--{{/each}} Profile</title>--}}

</head>
<div>
    <h1>Email ID already exists!</h1>
    <h1>Please create new Email to create your profile <a href="/newSignUp">here</a> </h1>
    </div>

</html>