<h4>SPECIALITY DEFINITIONS / GLOSSARY</h4></div></div>

<div id="parent_div" >
    <div class= "background"></div>



    <table class="speciality">

        <tr><th>SPECIALITY NAME</th> <th>MEANING</th></tr>

        <tr><td>Addiction medicine</td><td>Specialists in addiction medicine treat substance abuse and addiction</td></tr>
        <tr><td>Allergy / Immunology</td><td>Specialists in allergy and immunology treat conditions that involve the immune system. Examples include allergies, immune deficiency diseases, and autoimmune diseases.</td></tr>
        <tr><td>Anesthesiology</td><td>Anesthesiologists provide anesthesia for patients who are having surgery or other procedures. They also treat pain and care for patients with critical illnesses or severe injuries.</td></tr>
        <tr><td>Cardiac electrophysiology</td><td>Cardiac electrophysiologists use technical procedures to evaluate heart rhythms.</td></tr>
    </table>


</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/{{this._id}}">Find a Physician </a>
    <a href="#">Home</a>
    <a href="baby">Paediatric Care</a>
    <a href="userLandingPage">My-Profile</a>
</div>
<span style="font-size:30px; margin-top:-10%; padding:1%; margin-left:-1%;cursor:pointer" onclick="openNav()">&#9776; </span>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
